@model (string InitialPrice, string Price)

<style>
.laybuy-paragraph {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: #000;
  padding-bottom: 1em;
}

.laybuy-paragraph {
justify-content: center;
}

.laybuy-paragraph > * {
  margin-right: 0.25em;
}

.laybuy-paragraph span.laybuy-money {
  font-size: 14px;
  font-weight: 600 !important;
  color: #000;
}

#laybuy-iframe {
    text-align: center
}

</style>

@if (!string.IsNullOrEmpty(Model.Price))
{
    <div class="laybuyInfo">
        <p class="laybuy-paragraph">
            @if (string.IsNullOrEmpty(Model.InitialPrice))
            {
                <span>Pay it in 6 weekly interest-free payments from <span class="laybuy-money">@Model.Price</span></span>
            }
            else
            {
                <span>Pay it from <span class="laybuy-money">@Model.InitialPrice</span> today & 5 weekly interest-free payments of <span class="laybuy-money">@Model.Price</span></span>
            }
        </p>
    </div>
}

<div id="laybuy-iframe">
    <iframe src="https://popup.laybuy.com/" frameborder="0" scrolling="no" width="620" height="480"></iframe>
</div>
